.jumbotron img{
    width: 200px;
}
.jumbotron{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.judul{
    text-align: center;
    min-width: 600px;
}

.judul hr{
    width: 100px;
    border: solid darkgray;
    
}